@font-face {
  font-family: "Inter Tight";
  src: url("/fonts/inter-tight/InterTight-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter Tight";
  src: url("/fonts/inter-tight/InterTight-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter Tight";
  src: url("/fonts/inter-tight/InterTight-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
